@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poiret+One&display=swap');
font-family: 'Cutive Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Cutive+Mono&family=Poiret+One&display=swap');
font-family: 'Coming Soon', cursive;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: white;
}

body,
#root {
  height: 100vh;
  margin: 0;
  background-image: url('./images//wallpaper.png');
  background-position: center;
  background-size: cover;
}

body, 
input, 
select, 
textarea {
  font-size: 1.6rem;
  font-family: 'Poiret One', cursive;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: greenyellow;
}

header {
  grid-area: header;
  background-color: midnightblue;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: white;
  text-decoration: none;
}

main {
  grid-area: main;
  color: white;
}

footer {
  grid-area: footer;
  background-color: midnightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

